/*Hecho por Sergio Gárgoles*/


/*general*/

* {
    box-sizing: border-box;
}

body {
    /* imagen sacada de https://pixabay.com/es/photos/naturaleza-mar-aurora-borealis-1032523/*/
    background-image: url("../img/nature-1032523_1280.jpg");
    background-size: cover;
}

p {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

*.centro {
    text-align: center;
    color: white;
}

div {
    margin-top: 10px;
    margin-bottom: 10px;
}

#derecha {
    text-align: right;
}

#Principal {
    color: black;
}

#Formulario {
    color: black;
}

#Curriculum {
    color: black;
}

#Proyecto {
    color: black;
}

/*Formulario*/

fieldset {
    color: white;
    background-color: rgb(11, 11, 92, 0.5);
    text-align: center;
}

input:hover {
    background-color: thistle;
}

a:visited {
    color: #Cafada;
}


a:hover {
    color: violet;
    border: 2px;
    border-style: dotted;
    border-color: chartreuse;
}

aside.formulario {
    float: right;
    color: white;
    margin-top: 50px;
    margin-right: 5%;
    margin-left: 0.5%;
    padding: 30px;
    position: relative;
}

input.boton {
    height: 50px;
    width: 100px;
    margin-right: 20px;
}

/*Header*/

.header {
    color: white;
}

header {
    background-color: rgba(118, 26, 141, 0.5);
    border-color: white;
    border-width: 2px;
    border-style: groove;
    margin-left: 10px;
    padding: 3% 4% 0% 1%;
    font-family: Helvetica;
    position: sticky;
    top: 0px;
    z-index: 1;
    border-radius: 10px;
    text-align: center;
}

a.header {
    margin-right: 8%;
    font-size: 1.5em;
}

a.header:hover {
    color: violet;
}

h2.header {
    display: inline;
    margin-right: 8%;
}

/*Tabla del curriculum*/

table.curriculum {
    color: white;
    align-items: center;
    background-color: rgb(11, 11, 92, 0.5);
    font-size: 1.5em;
    border-color: white;
    border-width: 2px;
    border-style: groove;
    padding: 30px;
    margin-top: 24px;
    height: 600px;
}

table.curriculum p {
    color: white;
    font-size: 20px;
}

table.curriculum td {
    padding-bottom: 30px;
    display: block;

}

table.curriculum th {
    text-decoration-line: underline;
    padding-right: 20px;
    border: white 2px solid;
}


table.curriculum td:last-child {
    border-bottom: white 2px solid;
}

/* Aside del curriculum*/
aside.curriculum {
    float: left;
    color: white;
    background-color: rgb(11, 11, 92, 0.5);
    margin-right: 5%;
    margin-left: 0.5%;
    font-size: 1.5em;
    border-color: white;
    border-width: 2px;
    border-style: groove;
    height: 600px;
    padding: 30px;
    position: relative;
}

aside img {
    height: 300px;
    width: 200px;

}

p.foto {
    position: absolute;
    top: 0;
}

.video {
    position: relative;
    left: 40%;
    top: 40px;
    width: 300px;
    height: 250px;
}

ul.curriculum {

    position: relative;
    top: 20%;
    list-style-type: "🏳‍🌈 ";
}

/*Footer*/
footer {
    background-color: rgba(118, 26, 141, 0.5);
    border-color: white;
    border-width: 2px;
    border-style: groove;
    width: 100%;
    padding-left: 20px;
    font-family: Helvetica;
    bottom: 0;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    clear: both;
}


/*Index*/
main.index {
    background-color: rgb(11, 11, 92, 0.5);
    border-color: white;
    border-width: 2px;
    border-style: groove;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 25.5%;
    padding-left: 20px;
    height: 420px;

}

aside.index {
    float: left;
    color: white;
    background-color: rgb(11, 11, 92, 0.5);
    margin-right: 5%;
    margin-left: 0.5%;
    margin-top: 20px;
    font-size: 1.5em;
    border-color: white;
    border-width: 2px;
    border-style: groove;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    height: 10%;
    width: 250px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
}



section.cualidad {
    column-count: 3;
    margin-right: 10%;
    break-after: column;
}

article {
    height: 300px;
}

aside.derecha {
    float: right;
    color: white;
    background-color: rgb(11, 11, 92, 0.5);
    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-top: 20px;
    font-size: 1.5em;
    border-color: white;
    border-width: 2px;
    border-style: groove;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    height: 10%;
    width: 350px;
    padding-left: 10px;
    padding-right: 10px;
}



.cualidad1 {
    margin-right: 80px;
    margin-left: 20%;
    width: 200px;
}

.cualidad2 {
    margin-left: 80px;
    width: 200px;
}

.cualidad3 {
    margin-left: 130px;
    width: 200px;
}

article h2 {
    color: chartreuse;
    margin-top: 0;

}

p.index {
    margin-bottom: 200px;
    margin-top: 0px;


}

img.img1 {
    height: 120px;
    width: 120px;
    float: left;
    margin-bottom: 10px;
    padding-right: 20px;
}

img.img2 {
    height: 120px;
    width: 120px;
    float: left;
    padding-right: 20px;
}

img.img3 {
    height: 100px;
    width: 100px;
    float: right;
}

img.img4 {
    height: 100px;
    width: 100px;
    float: right;
}

/*sobre el proyecto*/

main.proyecto {
    background-color: rgb(11, 11, 92, 0.5);
    border-color: white;
    border-width: 2px;
    border-style: groove;
    margin-top: 20px;
    text-align: center;
    margin-left: 20%;
}

aside.proyecto {
    float: left;
    color: white;
    background-color: rgb(11, 11, 92, 0.5);
    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-top: 20px;
    font-size: 1.5em;
    border-color: white;
    border-width: 2px;
    border-style: groove;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}