/*Hecho por Sergio Gárgoles*/


/*general*/

body{
    /* imagen sacada de https://pixabay.com/es/photos/naturaleza-mar-aurora-borealis-1032523/*/
    background-image: url("../img/nature-1032523_1280.jpg");
    background-size: cover;
}

p{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

*.centro{
    text-align: center;
    color: white;
}

div {
    margin-top: 10px;
    margin-bottom: 10px;
}

#derecha{
    text-align: right;
}

/*Formulario*/

fieldset{
    color: white;
    background-color: rgb(11, 11, 92, 0.5);
}

input.botones{
   size:10em;
}

a:visited{
    color: #Cafada;
}

a:hover{
    color: violet;
}

/*Header*/

.header {
    color: white;
}

div.header{
    background-color: rgb(11, 11, 92, 0.5);
    border-color: white;
    border-width: 2px;
    border-style: groove;
    margin-left:  10px;
    padding: 3% 4% 0% 1%;
    font-family: Helvetica;
}

a.header{
    margin-right: 6%;
    font-size: 1.5em;
}
a.header:hover{
    color: violet;
}

h2.header{
    display: inline;
    margin-right: 8%;
}

/*Tabla del curriculum*/

table.curriculum {
    color: white;
    align-items: center;
    background-color: rgb(11, 11, 92, 0.5) ;
    margin-left: 20em;
    font-size: 1.5em;
    border-color: white;
    border-width: 2px;
    border-style: groove;
    padding: 30px;
}

table.curriculum ul{
    list-style: none;
}

table.curriculum th{
    text-decoration-line: underline;
}

